[Unit]
Description=Sandbox network firewall
After=docker.service
Requires=docker.service
[Service]
Type=oneshot
ExecStart=/usr/local/bin/brambs-sbx-setup.sh
RemainAfterExit=yes
[Install]
WantedBy=multi-user.target
